{% extends 'base.html.twig' %}

{% block title %}Liste du matériel
{% endblock %}

{% block body %}

	<div class="px-4">
		<h1 class="display-3">Modification</h1>
        
        {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {# {{ form_errors(form) }} #}
    </div>

    <div class="row">
     {{ form(form) }}
        <div class="col">
       
            {{ form_row(form.task) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.dueDate) }}
        </div>
    </div>
        {{ form_end(form) }}
		
	</div>
	<script>
    let url_path = "{{ url('app_material_index') }}"
	</script>
{% endblock %}
